<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
      <a class="navbar-brand" href="#">
          <span class="glyphicon glyphicon glyphicon-police"></span>
          A Guild With No Name
      </a>

      <ul class="nav navbar-nav">
          <li><a href="/">Roster</a></li>
          <li><a href="/cotisation">Cotisation</a></li>
      </ul>
  </div>
</nav>
