<div class="modal fade" id="addToRosterModal" tabindex="-1" role="dialog" aria-labelledby="addToRosterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addToRosterModalLabel">Ajouter un joueur</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="/roster/add" method="post">
        <div class="modal-body">
          <div class="modal-group">
            <label for="newPlayerName">Nom du joueur : </label>
            <input type="text" name="newPlayerName" placeholder="Sangrene" id="newPlayerName" autofocus />
          </div>
          <div class="modal-group">
            <label for="newPlayerRole">Rôle</label>
            <select name="newPlayerRole" id="newPlayerRole">
              <option>tank</option>
              <option>heal</option>
              <option>melee</option>
              <option>range</option>
            </select>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary">Ajouter ce joueur !</button>
        </div>
      </form>
    </div>
  </div>
</div>
